.section-game{
    min-height: 100vh;
    grid-column: 2 / 3;
}
.compras{
    color: rgb(1, 1, 1);
}

.section-game h3, h1, h2, p{
    color: rgb(0, 0, 0);
}

.left-side{
    width: 20vh;
    min-width: 15vh;
    grid-column: 1 / 2;
}

