
.formulario form{
     margin: 2vh;
}
.formulario img{
    max-width: 427px;
    max-height: 283px;
}
.formulario{
    grid-column: 2/4;
}

.question{
    grid-column: 2/4;
    text-align: center;
}

@media (max-width: 790px) {
   .formulario img{
      width: 290px;
      height: 250px;
   }
   .formulario button{
    text-align: center;
   }
   .formulario{
    min-height: 35vh;
    }
}

@media (max-width: 420px) {
    .formulario img{
       width: 200px;
       height: 170px;
    }
}
 
