.col img{
    min-width: 350px;
    min-height: 500px;
    max-width: 350px;
    max-height: 500px;
}

.col h1{
    font-weight: bold;
    font-family: 'Courier New', Courier, monospace;
    color: #ffff;
}

.col a{
    text-decoration: none;
}

.album{
    margin-top: 30px;
}