.logo {
    position: relative;
    display: inline-block;
}

.logo img{
    max-width: 65px;
    max-height: 65px;
}

.contador {
    top: 13%;
    right: 15%;
    color: rgb(255, 255, 255);
    font-size: 15px;
    position: absolute;
}