.section-coral{
    padding-left: 10vh !important;
    padding-right: 10vh !important;
    grid-column: 1 / 4;
}

.search{
    background-color: rgb(221, 220, 220);
}

.navbar{
    background-color: #f3f3f3 !important;
}

.section-coral ::placeholder{
    color: rgb(176, 174, 174) !important;
}

.section-coral a{
    color: rgb(156, 153, 153) !important;
}

@media (min-width: 790px) {
    .nav-item button{
        margin-left: 15px;
    }
}